
PORT=3000



DB_TYPE=mongodb

//replace MongoDB URI with your actual connection string
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?appName=name


SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
SUPABASE_KEY=your_supabase_anon_key_here
